<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <meta http-equiv="refresh" content="3;url=/events">
  <title>Submission</title>
</head>
<body>
<div class="card center">
  <h3><%= message %></h3>
  <p>Redirecting to events page...</p>
</div>
</body>
</html>
